body{
    background-color: chocolate;
}

.Lander1{
    height: 100vh;
    width: 100vw;
    display: grid;
    align-content: center;
    justify-content: center;
}

.Lander2{
    height: 20vh;
    width: 50vw;
    display: grid;
    align-content: center;
    justify-content: center;

    background-color: aqua;
    border-radius: 30px;
    border-style: solid;
}

.LanderButton{
    width: 20vw;
    height: 5vh;
    margin: auto;
    font-size: 1.5vi;
}

.LanderText{
    text-align: center;
    font-weight: bolder;
    font-size: 2vi;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;

    background-color: gray;
    border-style: solid;
}